%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{deps, [
        {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p4"}}}
        %%{rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {branch, "master"}}}
       ]}.
